.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #fbfbfd;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #73CEC5;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.mainNav ul li{
    text-decoration: none;
    color: #fff;
    margin: 10px;
    width: 60rem;
}
ul li {
  list-style: none;
  display: inline;
  margin: 10px 30px;
  justify-content: center;
}
li {
  color: #73CEC5;
  text-decoration: none;
}
.main-img {
  display: block;
  /* border-radius: 100%; */
  margin: 0 auto;
  align-content: center;
  border: 4px solid #73CEC5;
  height: 300px;
}
.my-3 {
  color: #F09B9B
}
.grey-text label {
  color: #F09B9B;
}
.font-weight-light {
  color: #F09B9B;
}
.font-weight-light a {
  color: #73CEC5;
}
.blue-text {
  color: #F09B9B;
}
.account {
  color: #F09B9B;
}
.vision {
  color: #73CEC5;
  border-top: 1px solid #73CEC5
}